@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

:root{
    --primary-color: #084d24;
    --secondary-color: #156b50;
    --thirdpart-color: #75eb60;
    --font-family: 'Noto Serif', serif;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
     align-items: center;
     margin: 0 170px;
}

.header-h{
    display: flex;
    flex-direction: column;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li{
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    margin: 20px;
    text-align: center;
    border: 3px dashed var(--secondary-color);
}
li:hover{
    background-color: var(--thirdpart-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
}

.section{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.plantType {

    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    width: 50%;
}

.pInfo{
    font-size: 1.1rem;
    border-bottom: 2px dashed var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 0;


}

.plantElement {
    cursor: pointer;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border: 3px dashed var(--primary-color);
    margin: 10px 0;
    height: 120px;
}
.plantElement:hover{
    background-color: var(--thirdpart-color);
}

.plantElement p{
    font-size: 1.1rem;
}

